$background: #15191F;
$card: #1F1B15;

@mixin border-box() {
  -webkit-box-sizing: border-box; // Safari <= 5
     -moz-box-sizing: border-box; // Firefox <= 19
          box-sizing: border-box;
}


html {
    height: 100%;
}

body {
    padding: 15px;
    height: auto;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6b401b+0,4c261f+100 */
    background-color: $background;


}

h1, h2, p {
    color: white;
}

.player-container {
    display: inline-block;
    vertical-align: top;

    img {
        width: 30px;
        height: 30px;
        display: inline-block;
    }

    div {
        margin-bottom: 10px;
    }

    input {
        margin-left: 10px;
        margin-right: 10px;

        width: 30px;
    }

}

.card {
    width: 30%;
    height: 350px;

    border: 1px solid black;

    cursor: pointer;

    text-align: center;

    display: inline-block;
    vertical-align: top;

    margin-right: 2%;

    padding: 5px;

    background-color: $card;

    @include border-box;
} 

.card-container {
    margin-top: 10px;
}

.discard-text, .new-deck {
    background: #212121;

    color: white;
    padding: 5px;

    display: inline-block;

    border: 1px solid black;
}
